.btn{
    display: inline-block;
    color: $secondary;
    border: .2rem solid $secondary ;
    font-size: 1.5rem;
    padding: .7rem 1.4rem ;
    margin-left: 2rem;
    cursor: pointer;

    // TODO: Add button annimation onClick 
}