.btn {
  display: inline-block;
  color: $secondary;
  border: 0.1rem solid $secondary;
  font-size: 1.4rem;
  padding: 0.7rem 1.4rem;
  margin-left: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  &--big{
    margin: 0;
    padding: 1.5rem 5rem;
  }
  &--vertical{
    margin: 1.5rem 0;
    font-size: 1.6rem;
    padding: 1.3rem 3rem;

  }

  &:hover {
    background-color: $primary-lightest;
  }
}
