.section-heading{
    font-size: 3rem;
    font-family: "Roboto Mono";
    display: flex;
    align-items: center;
    &__number{
        color: $secondary;
        font-size: 2.5rem;
        flex-shrink: 1;
        @media (max-width:$md) {
            font-size: 2rem;
        }
        @media (max-width:$sm) {
            font-size: 1.5rem;
        }
     
    }
    &__text{
        @media (max-width:$md) {
            font-size: 2.5rem;
        }
        @media (max-width:$sm) {
            font-size: 2rem;
        }

    }
    &__line{
        flex: 1;
            content: "";
            display: inline-block;
            height: .1rem;
            background-color: $primary-lightest;
            margin-left: 1rem;
    }
}