.layout {
  min-height: 150vh;
  background-color: $primary;
  padding: 0 15rem;
  position: relative;

  @media (max-width: lg){
    padding: 0 10rem;
}

  @media (max-width:$md) {
    padding: 0 6rem;
      
    }

  @media (max-width:$sm) {
  padding: 0 3rem;
    
  }
}
