.sidebar{
  @include flex-center;
  flex-direction: column;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: $primary-light;
  outline: 0;
  box-shadow: -10px 0px 30px -15px var(--navy-shadow);
  z-index: 9;
  transition: visibility 0.4s ease-out;
  transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  font-size: 0;
  &--show{
    font-size: 1.8rem;
    visibility: visible;
    width: min(75vw, 400px);;
  }
} 