.navbar {
  height: 7rem;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__nav {
    a {
      font-size: 1.3rem;
      color: $gray-lightest;
    }

    &__item {
      list-style-type: none;
      display: inline-block;
      transition: all 0.3s;
      margin-right: 2.5rem;
      &--number {
        color: $secondary;
      }
      &--text {
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
